<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.BandSportDetailMapper" >
  <resultMap id="BaseResultMap" type="mybatis.BandSportDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="mac_no" property="macNo" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="INTEGER" />
    <result column="calories" property="calories" jdbcType="INTEGER" />
    <result column="distances" property="distances" jdbcType="INTEGER" />
    <result column="active_time" property="activeTime" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="sync_time" property="syncTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, mac_no, date, name, start_time, calories, distances, active_time, create_time, 
    sync_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from band_sport_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from band_sport_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="mybatis.BandSportDetail" >
    insert into band_sport_detail (id, user_id, mac_no, 
      date, name, start_time, 
      calories, distances, active_time, 
      create_time, sync_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{macNo,jdbcType=VARCHAR}, 
      #{date,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{startTime,jdbcType=INTEGER}, 
      #{calories,jdbcType=INTEGER}, #{distances,jdbcType=INTEGER}, #{activeTime,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{syncTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="mybatis.BandSportDetail" >
    insert into band_sport_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="macNo != null" >
        mac_no,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="calories != null" >
        calories,
      </if>
      <if test="distances != null" >
        distances,
      </if>
      <if test="activeTime != null" >
        active_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="syncTime != null" >
        sync_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="macNo != null" >
        #{macNo,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=INTEGER},
      </if>
      <if test="calories != null" >
        #{calories,jdbcType=INTEGER},
      </if>
      <if test="distances != null" >
        #{distances,jdbcType=INTEGER},
      </if>
      <if test="activeTime != null" >
        #{activeTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syncTime != null" >
        #{syncTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mybatis.BandSportDetail" >
    update band_sport_detail
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="macNo != null" >
        mac_no = #{macNo,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=INTEGER},
      </if>
      <if test="calories != null" >
        calories = #{calories,jdbcType=INTEGER},
      </if>
      <if test="distances != null" >
        distances = #{distances,jdbcType=INTEGER},
      </if>
      <if test="activeTime != null" >
        active_time = #{activeTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syncTime != null" >
        sync_time = #{syncTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="mybatis.BandSportDetail" >
    update band_sport_detail
    set user_id = #{userId,jdbcType=INTEGER},
      mac_no = #{macNo,jdbcType=VARCHAR},
      date = #{date,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=INTEGER},
      calories = #{calories,jdbcType=INTEGER},
      distances = #{distances,jdbcType=INTEGER},
      active_time = #{activeTime,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sync_time = #{syncTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>